/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
img {
	width: 100%;
}
a {
	color: inherit;
}
/* variables */
:root {
	--main-font: 'Helvetica';
	--blue: #168ed5;
	--green: #528660;
	--yellow: #faec90;
	--white: #f7f7f7;
	--gray: #ffffffb3;
	--orange: #f45817;
	--brandBg: #f1e6e0;
	--unit: 80px;
}
body {
	min-height: 100vh;
	height: 100%;
	background: rgb(39, 39, 39);
	font-family: var(--main-font);
}
#root {
	min-height: 100%;
	/* border: 3px solid var(--green); */
	display: flex;
}

.container {
	display: grid;
	grid-template:
		'messaging top'
		/* auto=row;;;;80 1fr vertical */
		'bottom bottom' auto / 80px 1fr;
	width: 100%;
	min-height: 100vh;
}

.top {
	grid-area: top;
}

.bottom {
	grid-area: bottom;
}
.footer {
	grid-template-columns: 7fr 5fr;
	padding: 130px 80px;
	font-size: 32px;

	background: #f7f4f2;
	color: #000000b3;
	display: grid;
	grid-column: 1 / span 2;
	gap: var(--gutter);
}
/* global */
.center {
	display: flex;
	align-items: center;
	justify-content: center;
}
/* .hover-underline {
	text-decoration: none;
} */
.hover-underline:hover {
	text-decoration: underline;
}
.default-cursor {
	cursor: default;
}
a {
	text-decoration: none;
}
